@import url('https://fonts.googleapis.com/css?family=Montserrat:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400&display=swap');

$theGoodBlue: #26547C;
$theGoodPink: #ef476f;
$mainDark: rgb(37, 55, 94);
$highlight: #ef476f;
$mainLight: rgb(245, 245, 165);

$primary: #888;
$secondary: #eee;

$lightGrey: rgb(248, 248, 248);
$mediumLightGrey: rgb(230, 230, 230);
$mediumGrey: rgb(160, 160, 160);
$darkGrey: rgb(60, 60, 60);
$grey: rgb(190, 190, 190);

$fontHuge: 48px;
$fontLarge: 30px;
$fontMedium: 18px;
$fontSmall: 14px;
$fontTiny: 11px;
$headerText: $darkGrey;

$toolbarHeight: 35px;

* {
  margin: 0;
  padding: 0;
  color: $darkGrey;
}

html, body, #root, #root>div  {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  text-align: center;
}

button {
  border: none;
  background-color: $darkGrey;
  color: $secondary;
  margin-top: 10px;
  padding: 7px 15px;
  font-size: $fontMedium;
}

button:hover {
  background-color: $highlight;
  color: white;
}

/* Components */
@import './Home.scss';
@import './Login.scss';
@import './ChatPartnerProfile.scss';
@import './Contacts.scss';
@import './ContactSearch.scss';
@import './MessageBoard.scss';
@import './MessageEditor.scss';
@import './Navigation.scss';
@import './UserProfile.scss';
@import './Welcome.scss';
@import './Settings.scss';
