.avatars {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;

  &_grid {
    width: 80%;
    max-width: 900px;
    display: grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 45px;

    @media only screen and (max-width: 950px) {
      grid-template-columns: auto auto auto;
    }

    @media only screen and (max-width: 750px) {
      grid-template-columns: auto auto;
    }

    img {
      max-width: 128px;
      justify-self: center;
      border-radius: 50%;
      border-width: 5px;
      border-style: solid;
      border-color: $lightGrey;
      cursor: pointer;
    }

    img:hover {
      border-color: $highlight;
    }

    &_selected {
      background: $highlight;
    }
  }

  &_header {
    color: $darkGrey;
    margin-top: 50px;
    margin-bottom: 5px;
  }

  &_description {
    color: $mediumGrey;
    font-size: $fontSmall;
    margin-bottom: 45px;
  }
}
