.chatpartnerprofile {
  padding: 30px 0 25px;
  text-align: center;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: $lightGrey;

  @media only screen and (max-width: $mediaQueryBreakPoint) {
    padding: 15px 0 15px;
  }

  &_name {
    display: block;
  }

  &_language {
    display: block;
    font-size: $fontTiny;
    color: $mediumGrey;
  }

  &_img {
    border-radius: 50%;
    width: 96px;
    border-width: 5px;
    border-style: solid;
    border-color: $lightGrey;

    @media only screen and (max-width: $mediaQueryBreakPoint) {
      width: 56px;
      border-width: 3px;

    }
  }
}
