.chatpartnerprofile {
  padding: 45px 0;
  text-align: center;

  &_name {
    display: block;
  }

  &_language {
    display: block;
    font-size: $fontTiny;
    color: $mediumGrey;
  }

  &_img {
    border-radius: 50%;
    width: 96px;
    border-width: 5px;
    border-style: solid;
    border-color: $lightGrey;
  }
}
