.contacts {
  &_list {
    list-style: none;

    &_item {
      width: 100%;
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      border-color: $lightGrey;

      span {
        display: block;
      }

      &_name:hover {
      }

      &_language {
        font-size: $fontTiny;
      }

      button {
        width: 100%;
        text-align: left;
        border: none;
        padding: 5px 2px;
        font-size: $fontSmall;
        background: none;
      }
    }

    &_item:hover {
      background: $lightGrey;
    }
  }
}
