.contacts {
  flex: 1;

  &_list {
    list-style: none;

    &_item {
      border-style: solid;
      border-width: 0px 0px 1px 0px;
      border-color: $lightGrey;
      padding: 2px 10px;

      &_details {
        &_name {
          display: block;
          color: $darkGrey;
        }
        &_language {
          display: block;
          font-size: $fontTiny;
          color: $mediumGrey;
        }
      }

      &_avatar {
        width: 28px;
        margin-right: 10px;
      }

      button {
        width: 100%;
        text-align: left;
        border: none;
        padding: 5px 2px;
        font-size: $fontSmall;
        background: none;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        
      }
    }

    &_item:hover {
      background: $lightGrey;
    }
  }
}
