.gdpr {
  padding: 50px 30px 30px;
  max-width: 450px;
  flex: 1 1 auto;
  margin: 0 auto;

  &_header {
    margin-bottom: 30px;
    color: $darkGrey;
  }
  
  p {
    color: $mediumGrey;
    margin-bottom: 15px;
  }
}

