.home {
  display: flex;
  flex-direction: row;

  &_sidebar {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: $mediaQueryBreakPoint;
    width: 100%;
    min-width: 200px;
    border-width: 0px 1px 0px 0px;
    border-color: $lightGrey;
    border-style: solid;

    @media only screen and (min-width: $mediaQueryBreakPoint) {
      width: 250px;
    }
  }

  &_main {
    background: white;
    min-width: 200px;
    overflow-y: auto;


    flex: 1;
    display: flex;
    flex-direction: column;

    &_home-button {
      position: absolute;
      top: 20px;
      left: 20px;
      cursor: pointer;

      path {
        fill: $mediumLightGrey;
      }

      path:hover {
        fill: $highlight;
      }

      @media only screen and (min-width: $mediaQueryBreakPoint) {
        display: none;
      }
    }
  }
}
