.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_header {
    font-size: $fontHuge;
    color: $headerText;
    margin-bottom: 20px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;

    &_input input  {
      margin-bottom: 20px;
      padding: 10px 10px 3px 2px;
      display: flex;
      flex-direction: column;
      text-align: left;
      border-style: solid;
      border-width: 0px 0px 1px;
      border-color: $primary;
      filter: none;
      outline: none;
      font-size: $fontMedium;
      width: 180px;
    }

    label {
      font-size: $fontSmall;
    }

    button {
      max-width: 200px;
      border: none;
      background-color: $darkGrey;
      color: $secondary;
      margin-top: 10px;
      padding: 7px 15px;
      font-size: $fontMedium;
    }

    button:hover {
      background-color: $highlight;
      color: white;
    }
  }
}