.messageeditor {
  height: $toolbarHeight;

  display: flex;
  flex-direction: row;

  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $lightGrey;

  &_form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1;

    &_input {
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      resize: none;
      padding: 2px 5px 2px 5px;
      flex: 1;
      font-size: $fontSmall;
      border: none;
      padding: 0px 20px;
      overflow: auto;
      min-height: 100% !important;
    }

    button {
      background-color: white;
      border: none;
    }

    svg {
      margin: 0px 15px 0px 0px;
    }

    path {
      fill: $mediumGrey;
      cursor: pointer;
    }
  
    path:hover {
      fill: $highlight;
    }
  }
}
