.messageboard {
  overflow-y: auto;
  text-align: left;
  height: 0;
  flex: 1 1 auto;
  scroll-behavior: smooth;
  padding-top: 20px;

  &_list {
    list-style: none;

    &_item {
      background: $secondary;
      max-width: 400px;
      margin-bottom: 10px;
      padding: 7px 12px 7px 12px;
      border-radius: 10px;

      &_time {
        margin-top: 5px;
        font-size: $fontTinsy;
        color: $mediumGrey;
        display: block;
      }
    }
  }
}

.right {
  float: right;
  clear: both;
  margin-right: 5px;
  margin-left: 20%;
  background: $lightGrey;
  color: black;
}

.left {
  float: left;
  clear: both;
  margin-left: 5px;
  margin-right: 20%;
  background: $mainLight;
  color: black;
  cursor: pointer;
}

.left:hover {
  background: $mainLightDarker;
}