.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: $toolbarHeight;
  align-items: center;
  min-height: $toolbarHeight;

  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: $lightGrey;

  svg {
    cursor: pointer;
  }

  path {
    fill: $mediumGrey;
  }

  path:hover {
    fill: $highlight;
  }

}