.settings {
  flex: 1;
  padding: 0px 15px;

  &_block {
    &_logout {
      text-align: center;
      margin: 20px 0px;
    }
  
    &_header {
      font-size: $fontSmall;
      color: $darkGrey;
      margin: 20px 0px 5px;

      border-style: solid;
      border-color: $lightGrey;
      border-width: 0px 0px 1px 0px;
    }

    &_user {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &_prop {
        color: $mediumGrey;
        font-size: $fontSmall;
        margin-bottom: 4px;
      }

      &_name {
        color: $mediumGrey;
        font-size: $fontSmall;
        margin-bottom: 4px;
        cursor: default;
      }

      &_name:hover {
        color: $highlight;
      }

      &_language {
        width: 100px;
        border: none;
        color: $mediumGrey;
        font-size: $fontSmall;
        margin: 0 0 4px 0;
        background: none;

        @-moz-document url-prefix() {
          margin: 0 0 4px -5px;
        }

        padding: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
      }

      &_language:hover {
        color: $highlight;
      }

      svg {
        height: 12px !important;
        width: 12px !important;
      }

      input {
        border: none;
      }
  
      &_button {
        path {
          fill: $mediumGrey;
          cursor: pointer;
        }
      
        path:hover {
          fill: $highlight;
        }
      }
    }
  }
}
