.userprofile {
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: $lightGrey;

  &_name {
    cursor: pointer;
  }

  &_name:hover {
    color: $highlight;
  }

  &_language {
    font-size: $fontTiny;
    color: $mediumGrey;
    cursor: pointer;
  }

  &_language:hover {
    color: $highlight;
  }

  &_img {
    border-radius: 50%;
    width: 56px;
    cursor: pointer;
    border-width: 4px;
    border-style: solid;
    border-color: $lightGrey;
  }

  &_img:hover {
    background: $highlight;
  }
}